<div class="container sorting">
    <div class="row mt-2">
        <div class="col-10">
            <p class="sortBy">Sort By</p>
        </div>
        <div class="col-2">
            <mat-icon (click)="onClose()">close</mat-icon>
        </div>
    </div>
    <hr>
    
        <div class="mt-3 d-flex">
           <span> <mat-radio-button class="checkInp" color="primary"></mat-radio-button><span class="radio-btn">Alphabetical (A-Z)</span></span>
          </div>
          <div class="mt-2 d-flex">
            <span> <mat-radio-button class="checkInp" color="primary"></mat-radio-button><span class="radio-btn">Recent to Oldest</span></span>
          </div>
          <div class="mt-2 d-flex">
            <span> <mat-radio-button class="checkInp" color="primary"></mat-radio-button><span class="radio-btn">Oldest to Recent</span></span>
          </div>
        </div>